* {

    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: gray;
    padding: 20px;
    
}

.title-container {
    padding: 20px;
    border-style: outset;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 5px 5px 5px;
}

@media (max-width: 600px) {
    .title-container {
        flex-wrap: wrap;
    }

    .title-container > :first-child {
        flex-basis: 100%;
    }
}


.title-right {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}


.navbar-container {
    padding: 20px;
    
    border-style: outset;
    border-width: 5px;
    border-radius: 10px;

    box-shadow: 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    
}

.navbar-item1 {
    text-align: center;
    background-color: white;
    flex: 1;

    padding: 10px;
}

.navbar-item2 {
    text-align: center;
    background-color: white;
    flex: 1;

    padding: 10px;
}

.navbar-item3 {
    text-align: center;
    background-color: white;
    flex: 1;

    padding: 10px
}

.grid-container {
    display: flex;       
    align-items: center; 
    gap: 20px;           
    max-width: 1200px;   
    margin: 0 auto;     
}


.text-left {
    background-color: white;
    box-shadow: 5px 5px 5px;
    
    padding: 30px;
    flex: 3; 
}


.image {
    flex: 1; 
}


.image {
    width: 50%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5px 5px 5px;
}

@media (max-width: 768px) {
    .grid-container {
        flex-direction: column; 
    }
}